_xml/003 XML Scheme/003 XMLScheme/002 XML Scheme.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="persons">
    <xs:complexType>  
      <xs:sequence>
        <xs:element name="client"  type="PersonType"  />
        <!--minOccurs="1" maxOccurs="6" в случае если хотим увеличить количество клиентов-->
        <xs:element name="clerk"  type="PersonType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="PersonType">
    <xs:sequence>
      <xs:element name="name"  type="xs:string" />
      <xs:element name="birthdate"  type="xs:date" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
