_xml/003 XML Scheme/003 XMLScheme/008 XML Schema complexType2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:element name="person">
    <xs:complexType>
      <xs:all>
        <!-- <xs:all> | <xs:choice> -->
        <xs:element name="address" type="xs:string" />
        <xs:element name="phone" type="xs:int" />
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
