_xml/003 XML Scheme/003 XMLScheme/010 XML Scheme complexType4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="person">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="address" type="xs:string" />
        <xs:choice>
          <xs:element name="phone" type="xs:string" />
          <xs:element name="phone-list">
            <xs:simpleType>
              <xs:list itemType="xs:string" />
            </xs:simpleType>
          </xs:element>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="firstname" type="xs:string" />
      <xs:attribute name="lastname" type="xs:string" />
    </xs:complexType>
  </xs:element>
</xs:schema>
