_xml/003 XML Scheme/003 XMLScheme/017 XML Scheme ref2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" />
  <xs:element name="name" type="xs:string" />
  <xs:element name="person">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
        <xs:element name="address" type="xs:string" minOccurs="0" />
        <xs:element ref="person" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
